{
    "env": {
        "test": {
            "plugins": [[
                "@babel/proposal-object-rest-spread"
            ], [
                "@babel/proposal-class-properties"
            ]],
            "presets": [[
                "@babel/env"
            ], [
                "@babel/react"
            ]]
        },
        "development": {
            "plugins": [[
                "@babel/proposal-object-rest-spread"
            ], [
                "@babel/proposal-class-properties"
            ]]
        },
        "production": {
            "plugins": [[
                "@babel/proposal-object-rest-spread"
            ], [
                "@babel/proposal-class-properties"
            ]]
        }
    },
    "ignore": [
        "node_modules/**/*"
    ],
    "plugins": [],
    "presets": [[
        "@babel/env", {
            "modules": false,
            "targets": {
                "browsers": [ "last 2 versions" ]
            }
        }
    ], [
        "@babel/react"
    ]]
}
